# 忽略 git upload.txt 檔案
git upload.txt
public key.txt

# --- 以下參考 ---
# 忽略 config 目錄下的 database.yml 檔案
# config/database.yml

# 忽略所有 db 目錄下附檔名是 .sqlite3 的檔案
# /db/*.sqlite3

# 忽略所有附檔名是 .tmp 的檔案
# *.tmp
